APP_NAME="Meat Lovers CIMS powered by YohPal"
APP_ENV=development
APP_URL=http://localhost
DB_HOST=127.0.0.1
DB_PORT=3306


DB_DATABASE=meat_lovers_cims
DB_USERNAME=meat_lovers_user
DB_PASSWORD=StrongLocalPassword
JWT_SECRET=change_this_secret
VITE_API_BASE_URL=http://localhost/backend/public/api
VITE_APP_NAME="Meat Lovers CIMS powered by YohPal"
